.App {
  text-align: center;
}

.custom_navbar {
  padding: 20px; /* Add padding to the Navbar */
  margin-bottom: 30px; /* Add margin to the bottom of the Navbar */
  background-color: rgb(157, 156, 156) !important;
  font-size: larger;
}

.myDropdown{
  margin-left: 25px ;
  
}
  .myDropdown .link:hover{
  background-color: rgb(210, 210, 210) !important;
      
    }


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
